{% extends 'layouts/base.html' %}

{% block title %}Consultar por tipo de mascota - Hotel de mascotas{% endblock %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">   
                    <h1>Consultar mascotas</h1>
                        
                    <p>Aca usted puede consultar mascotas segun sea el nombre de la mascota</p>
                    
                    <div class="row">
                        <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h1 style="text-align: center">Consultar mascotas por el nombre de la mascota</h1>
                                    </div>
                                <div class="panel-body">
                                    <form role="form">
                                        <div class="form-horizontal" class="form-group" style="width:50%">
                                            <label for="consultaNombreMascota">Nombre de la mascota</label>
                                            <input class="form-control input-md" type="name" class="form-control" placeholder="cachupin" name="consultaNombreMascota">
                                        </div><br />

                                        <div>
                                            <button type="button" id="botonConsultarNombre" input type "submit" class="btn btn-success" id="submitForm">Consultar</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                            </div>
                    
                   <!--  <div class="col-md-6" id="target"></div> -->
                    
                    </div>
                </div>
                <!-- <div class="col-lg-12" id="target"></div> -->
            </div>
        </div>
    </div>

    <div class="col-lg-12" id="target"></div>
{% endblock %}

{% block scripts %}

<script>
$(function() {
    $('#botonConsultarNombre').click(function() {
 
        $.ajax({
            url: '/consultarNombreMascota',
            data: $('form').serialize(),
            type: 'POST',
            success: function(newData) {
                //console.log(response);
                $('#target').html(newData);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
</script>

{% endblock %}