{% extends 'layouts/base.html' %}

{% block title %}Home - Hotel de mascotas{% endblock %}

{% block content %}
	<div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">   
                    <h1>Bienvenido al hotel de mascotas</h1>
                        
                    <p>Aca usted puede hacer un crud de mascota</p>
                        
                </div>
            </div>
        </div>
    </div>
{% endblock %}